@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Rubik&display=swap");
$rubik: "Rubik", sans-serif;
$ns: "Nunito Sans", sans-serif;
$white: #f7f7f7;
$black: #212121;
$blue: #a3e2ff;
$darker-blue: #2b82d9;
$link-color: #3700ee;
$snap: cubic-bezier(0.81, 0, 0.4, 1);

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: $white;
    margin: 0;
    padding: 0;
}

div#react-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    h1 {
        font-family: $rubik;
        font-size: 60px;
        text-align: center;
        color: $black;
    }
    div#shorten-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
        div#form-content {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 200px;
            width: 400px;
            label {
                font-family: $rubik;
                font-size: 30px;
                text-align: center;
                color: $black;
            }
            input {
                font-family: $ns;
                font-size: 20px;
                color: $black;
                width: 100%;
            }
        }
        div#submit-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 50px;
            button {
                background-color: $blue;
                border-radius: 5px;
                border: 1px solid $black;
                height: 40px;
                width: 250px;
                color: $black;
                font-family: $rubik;
                font-size: 22px;
                transition: all 250ms $snap;
                &:hover {
                    background-color: $darker-blue;
                    color: $white;
                    cursor: pointer;
                }
            }
        }
    }
    a {
        font-family: $rubik;
        font-size: 26px;
        text-decoration: none;
        color: $link-color;
        &:active {
            color: $link-color;
        }
    }
}

@media only screen and (max-width: 500px) {
    section {
        h1 {
            font-size: 45px;
        }
        div#shorten-form {
            div#form-content {
                width: 300px;
            }
        }
    }
}
